h1{
    background-color:dodgerblue;
    font-style: italic;
}
html{
    background-color: aquamarine;
}

h2{
    background-color: antiquewhite;
}
h3{
    background-color: antiquewhite;

}
h4{
    background-color: antiquewhite;
    
}